Data/* linguist-vendored
Software/* linguist-vendored
# File Types
* linguist-vendored
*.js linguist-vendored=false
*.json linguist-vendored=false
*.css linguist-vendored=false
*.html linguist-vendored=false
