Data/* linguist-vendored
Software/* linguist-vendored
Python/* linguist-vendored=false
# File Types
#*.js linguist-vendored
#*.json linguist-vendored
#*.css linguist-vendored
#*.html linguist-vendored
